<div class="auth-footer">
  <ul class="footer-link">
    <li>
      <a [routerLink]="['/cookies-private']" target="_blank">
        {{ 'FOOTER.COOKIES_POLICE' | translate }}
      </a>
    </li>
    <li>
      <a [routerLink]="['/private-police']" target="_blank">
        {{ 'FOOTER.PRIVACY_POLICE' | translate }}
      </a>
    </li>
    <li>
      <a [routerLink]="['/terms-conditions']" target="_blank">
        {{ 'FOOTER.TERMS_CONDITIONS' | translate }}
      </a>
    </li>
    <li class="contact-item">
      <a href="javascript:" (click)="showEmailDialog()" class="contact-link">
        <mat-icon>email</mat-icon>
        <span>{{ 'FOOTER.CONTACT_US' | translate }}</span>
      </a>
    </li>
  </ul>
  <div class="copyright">
    <p>{{ 'FOOTER.COPYRIGHT1' | translate: { year: getYear() } }}</p>
    <p>{{ 'FOOTER.COPYRIGHT2' | translate }}</p>
  </div>
</div>
