.dockerfile
.angular
.nx
node-log.txt
docker-compose.yml
install.sh
node_modules
build
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.editorconfig
.git
.gitignore
README.md
LICENSE
.vscode
LICENSE
README.md
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**