<div class="modal-content">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">
            {{ 'SALE_CREDIT.PAYMENT_CREDIT' | translate }}
        </h4>
        <button (click)="closeModal()" class="closeButton btn btn-transparent" type="button">
            <i class="closeButton ki ki-close"></i>
        </button>
    </div>
    <div class="modal-body">
        <form class="form" id="product_form" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-md-10 col-lg-8 mx-auto">
                    <div style="margin-bottom: 10px;">Cliente: {{saleCredit.client}}</div>
                    <div style="margin-bottom: 20px;">Pagar: {{saleCredit.total | currency:'USD':'symbol':'1.2-2'}}</div>

                    <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                        <mat-label>Forma de Pago</mat-label>
                        <mat-select name="Forma de Pago" [(value)]="paymentType">
                            <mat-option *ngFor="let type of paymentTypes" [value]="type.value">
                                {{type.label}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                        <mat-label>{{'GENERAL.NOTE'| translate}}</mat-label>
                        <textarea matInput appTitleCase formControlName="note" autocomplete="off"
                            matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button mat-fab extended color="primary" (click)="closeModal()">
            <mat-icon>close</mat-icon>
            {{ 'GENERAL.CLOSE' | translate}}
        </button>
        <button mat-fab extended color="primary" (click)="onSubmit()">
            <mat-icon>payment</mat-icon>
            {{ 'SALE_CREDIT.TO_PAY' | translate}}
        </button>
    </div>
</div>