<!-- <app-loading-spinner id="loading-spinner"></app-loading-spinner> -->
<block-ui>
    <!-- <app-splash-screen></app-splash-screen> -->
     
    <!-- <app-download-progress [show]="isDownloading$ | async" [progress]="progress$ | async"
        [downloadedSize]="downloadedSize$ | async" [totalSize]="totalSize$ | async" [estimatedTime]="estimatedTime">
    </app-download-progress> -->
    <router-outlet>
        <!-- <app-spinner></app-spinner> -->
    </router-outlet>
    <!-- <ng-http-loader [entryComponent]="spinnerComponent"></ng-http-loader> -->
</block-ui>