<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'MENU.ADMIN.RESELLERS' | translate }}</h3>
    </div>
    <div class="card-toolbar">
      <button mat-fab extended color="primary" (click)="openCreateReSellerModal()">
        <mat-icon>add</mat-icon>
        {{'GENERAL.ADD' | translate}}
      </button>
    </div>
  </div>
  <!-- <div class="card-body"> -->
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 2px;">
    @for (reSeller of reSellers$ | async; track reSeller) {
      <div class="col mt-6">
        <mat-card class="h-100 {{getReSellerBackgroundColor(reSeller)}}">
          <div class="card-header-custom">
            <!-- <mat-card-header class="w-100"> -->
            <mat-card-title class="text-left w-100">
              <span class="w-100">
                {{ reSeller.fullName }}
              </span>
            </mat-card-title>
            <div fxFlex></div>
            <button mat-icon-button color="primary" class="card-header-action-button" [matMenuTriggerFor]="menu"
              aria-label="Actions">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="btn" routerLink="/admin/resellers/edit/{{reSeller.id}}"
                routerLinkActive="active">
                <mat-icon color="primary">edit</mat-icon>
                <span>{{ 'GENERAL.EDIT' | translate }}</span>
              </button>
              @if (reSeller.isActive) {
                <button mat-menu-item class="btn"
                  (click)="deactivateReSeller(reSeller)">
                  <mat-icon color="warn">delete</mat-icon>
                  <span>{{ 'GENERAL.DEACTIVATE' | translate }}</span>
                </button>
              }
              @if (!reSeller.isActive) {
                <button mat-menu-item class="btn"
                  (click)="activateReSeller(reSeller)">
                  <mat-icon color="primary">edit</mat-icon>
                  <span>{{ 'GENERAL.ACTIVATE' | translate }}</span>
                </button>
              }
              <button mat-menu-item class="btn"
                (click)="deleteReSeller(reSeller)">
                <mat-icon color="warn">delete</mat-icon>
                <span>{{ 'GENERAL.DELETE' | translate }}</span>
              </button>
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p style="margin-top: 6px;">{{ 'GENERAL.PERCENT_DISCOUNT_PRICE' | translate }}:
            {{reSeller.percentDiscountPrice}}</p>
            <p>{{ 'GENERAL.DISCOUNT_PRICE' | translate }}: {{reSeller.discountPrice}}</p>
            <p>{{reSeller.cellPhone}}</p>
            @if (reSeller.email) {
              <p>{{reSeller.email}}</p>
            }
            <p>{{reSeller.description}}</p>
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>