<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">{{ 'MENU.ADMIN.EMPLOYEES' | translate }}</h3>
    </div>
    <div class="card-toolbar">
      <button mat-fab extended color="primary" (click)="openCreateUserModal()">
        <mat-icon>add</mat-icon>
        {{'GENERAL.ADD' | translate}}
      </button>
    </div>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4" style="margin-top: 2px;">
    @for (user of users$ | async; track user) {
      <div class="col mt-6">
        <mat-card class="h-100 {{getUserBackgroundColor(user)}}" style="margin-left: 6px; margin-right: 6px;">
          <div class="card-header-custom">
            <mat-card-title class="text-left w-100">
              <span class="w-100">
                {{ user.fullName }}
              </span>
            </mat-card-title>
            <div fxFlex></div>
            <button mat-icon-button color="primary" class="card-header-action-button"
              [matMenuTriggerFor]="menu" aria-label="Actions">
              <mat-icon>settings</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item class="btn" routerLink="/management/users/edit/{{user.id}}"
                routerLinkActive="active">
                <mat-icon color="primary">edit</mat-icon>
                <span>{{ 'GENERAL.EDIT' | translate }}</span>
              </button>
              @if (user.isActive) {
                <button mat-menu-item class="btn" (click)="deleteUser(user)">
                  <mat-icon color="warn">delete</mat-icon>
                  <span>{{ 'GENERAL.DEACTIVATE' | translate }}</span>
                </button>
              }
              @if (!user.isActive) {
                <button mat-menu-item class="btn" (click)="activateUser(user)">
                  <mat-icon color="primary">edit</mat-icon>
                  <span>{{ 'GENERAL.ACTIVATE' | translate }}</span>
                </button>
              }
            </mat-menu>
          </div>
          <mat-divider></mat-divider>
          <mat-card-content>
            <p style="margin-top: 6px;">{{user.cellPhone}}</p>
            @if (user.email) {
              <p>{{user.email}}</p>
            }
          </mat-card-content>
        </mat-card>
      </div>
    }
  </div>
</div>