<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" [translate]="'INVENTORY.ENTRIES_HISTORY'"></h3>
      <span class="label label-success font-weight-bold font-size-lg">({{getEntriesCount()}})</span>
    </div>
    <div class="card-toolbar">
      <span class="text-danger font-weight-bold font-size-lg">
        {{getEntriesTotal() | currency:'USD':'symbol':'1.2-2'}}
      </span>
    </div>
  </div>
  <div class="card-body p-2">
    <mat-radio-group [(ngModel)]="paymentType" (change)="loadEntries()" style="margin-bottom: 10px !important;">
      <mat-radio-button [value]="null">
        Todas
      </mat-radio-button>
      @for (type of paymentTypes; track type) {
        <mat-radio-button [value]="type.value">
          <i class="bi {{getPaymentTypeIcon(type.value)}} text-success fs-4"></i>
          {{type.label}}
        </mat-radio-button>
      }
    </mat-radio-group>

    @if ((dateEntries$ | async).length === 0) {
      <div
        class="mb-10 alert alert-custom alert-light-primary alert-dismissible text-center">
        <div class="alert-text">{{'INVENTORY.NO_HISTORY_ENTRY_FOUND' | translate}}</div>
      </div>
    }

    <mat-accordion multi>
      @for (dateEntry of dateEntries$ | async; track dateEntry) {
        <mat-expansion-panel [expanded]="false">
          <mat-expansion-panel-header class="p-2" class="mat-panel-header">
            <mat-panel-title>
              <span class="w-100">{{dateEntry.date | date: onlyDateFormat : 'UTC'}}
              ({{dateEntry.count}})</span>
              <div class="w-100 text-end">
                <span class="text-danger">{{dateEntry.total |
                currency:'USD':'symbol':'1.2-2'}}</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-entry-list class="p-2" [entries$]="getEntriesObservable(dateEntry.entries)">
          </app-entry-list>
        </mat-expansion-panel>
      }
    </mat-accordion>


  </div>
</div>