<div class="table-responsive">
    <table class="table table-borderless table-vertical-center">
        <tbody>
            <tr *ngFor="let expense of expenses$ | async" class="border-1">
                <td class="p-1">
                    <span class="text-dark mb-1 font-size-lg">
                        {{getExpenseTypeText(expense.type)}}
                    </span>
                </td>
                <td class="p-1 text-end">
                    <i class="bi {{getPaymentTypeIcon(expense.paymentType)}} text-success fs-4"></i>
                    <span class="text-danger mb-1 font-size-lg">
                        {{expense.total | currency:'USD':'symbol':'1.2-2'}}
                    </span>
                </td>
                <td class="p-1 text-end">
                    <span class="label label-success font-weight-bold font-size-lg">
                        {{getPaymentTypeText(expense.paymentType)}}
                    </span>
                </td>
                <td *ngIf="!readOnly" class="text-end p-0">
                    <button mat-icon-button color="primary" class="card-header-action-button"
                        [matMenuTriggerFor]="menuExpense" aria-label="Acciones">
                        <mat-icon>settings</mat-icon>
                    </button>
                    <mat-menu #menuExpense="matMenu">
                        <button mat-menu-item (click)="openEditExpenseModal(expense)">
                            <mat-icon color="primary">edit</mat-icon>
                            <span>{{ 'GENERAL.EDIT' | translate }}</span>
                        </button>
                        <button mat-menu-item (click)="onDeleteExpense(expense.id)">
                            <mat-icon color="warn">delete</mat-icon>
                            <span>{{ 'GENERAL.DELETE' | translate }}</span>
                        </button>
                    </mat-menu>
                </td>
            </tr>
        </tbody>
    </table>
</div>