<form class="form" [formGroup]="formGroup" id="kt_login_signup_form" (ngSubmit)="onSubmit()" class="mt-4">
  @if (hasError) {
    <div class="alert alert-custom alert-light-danger alert-dismissible text-center">
      <div class="alert-text">{{errorMessage}}</div>
    </div>
  }

  <!-- Login -->
  <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
    <mat-label>{{'GENERAL.OLD_PASSWORD'| translate}}</mat-label>
    <input matInput formControlName="oldPassword" required autocomplete="off">
    @if (isControlInvalid('oldPassword','required')) {
      <mat-error>
        {{'GENERAL.VALIDATION.REQUIRED'| translate : { name: 'GENERAL.OLD_PASSWORD'| translate } }}
      </mat-error>
    }
  </mat-form-field>

  <!-- Password -->
  <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
    <mat-label>{{'GENERAL.NEW_PASSWORD'| translate}}</mat-label>
    <input matInput formControlName="password" required autocomplete="off"
      [type]="showPassword ? 'text' : 'password'">
      <button type="button" mat-icon-button matSuffix (click)="onShowPassword($event)">
        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
      </button>
      @if (isControlInvalid('password','required')) {
        <mat-error>
          {{ 'GENERAL.VALIDATION.REQUIRED' | translate : { name: 'GENERAL.NEW_PASSWORD'| translate } }}
        </mat-error>
      }
      @if (isControlInvalid('password','pattern')) {
        <mat-error>
          {{ 'GENERAL.VALIDATION.PASSWORD_POLICY' |  translate}}
        </mat-error>
      }
    </mat-form-field>

    <!--begin::Confirm Password Form Group-->
    <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
      <mat-label>{{'GENERAL.CONFIRM_PASSWORD'| translate}}</mat-label>
      <input matInput formControlName="confirmPassword" required autocomplete="off"
        [type]="showPassword ? 'text' : 'password'">
        <button type="button" mat-icon-button matSuffix (click)="onShowPassword($event)">
          <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
        </button>
        @if (isControlInvalid('confirmPassword','required')) {
          <mat-error>{{'GENERAL.VALIDATION.REQUIRED'|
          translate : { name: 'GENERAL.CONFIRM_PASSWORD'| translate } }}</mat-error>
        }
        @if (isControlInvalid('confirmPassword','passwordMatch')) {
          <mat-error
            >{{'GENERAL.VALIDATION.INVALID_PASSWORD'|
            translate : { name: 'GENERAL.CONFIRM_PASSWORD'| translate
          } }}</mat-error>
        }
      </mat-form-field>

      <div class="row mt-4">
        <div class="d-grid form-group">
          <button mat-fab extended class="mt-2" color="primary" [disabled]="formGroup.pristine">
            <mat-icon>edit</mat-icon>
            {{ 'GENERAL.UPDATE' | translate}}
          </button>
        </div>
      </div>
    </form>