<form class="form" [formGroup]="formGroup" novalidate="novalidate" id="kt_login_signup_form" (ngSubmit)="onSubmit()"
    class="mt-4">
    @if (hasError) {
    <div class="alert alert-custom alert-light-danger alert-dismissible text-center">
        <div class="alert-text">{{errorMessage}}</div>
    </div>
    }

    <!-- Full Name -->
    <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
        <mat-label>{{'USER.FULL_NAME'| translate}}</mat-label>
        <input matInput formControlName="fullName" required autocomplete="off">
        <mat-error *ngIf="isControlInvalid('fullName','required')">{{'GENERAL.VALIDATION.REQUIRED'| translate : {
            name: 'USER.FULL_NAME'| translate } }}</mat-error>
    </mat-form-field>

    <!--begin::Cell Phone Form Group-->
    <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
        <mat-label>{{'GENERAL.CELL_PHONE'| translate}}</mat-label>
        <input matInput formControlName="cellPhone" required autocomplete="off" prefix="+53 " mask="0 000-0000"
            placeholder="+530 000-0000">
        <!-- <span matTextPrefix>+53&nbsp;</span> -->
        <mat-error *ngIf="isControlInvalid('cellPhone','required')">
            {{'GENERAL.VALIDATION.REQUIRED'| translate : { name: 'GENERAL.CELL_PHONE'| translate } }}
        </mat-error>
    </mat-form-field>

    <!--begin::Email Form Group-->
    <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
        <mat-label>{{'GENERAL.EMAIL'| translate}}</mat-label>
        <input matInput formControlName="email" autocomplete="off" [placeholder]="email">
        <!-- <mat-error *ngIf="isControlInvalid('email','required')">
                {{'GENERAL.VALIDATION.REQUIRED'| translate : { name: 'GENERAL.LOGIN'| translate } }}
            </mat-error> -->
        <mat-error *ngIf="isControlInvalid('email','email')">
            {{'GENERAL.VALIDATION.INVALID'| translate : { name: 'GENERAL.EMAIL'| translate } }}
        </mat-error>
    </mat-form-field>

    <mat-slide-toggle *ngIf="showActiveControl && isSuperAdminOrOwnerAdmin" formControlName="isActive" class="mt-2">
        {{ 'GENERAL.ACTIVE' | translate}}
    </mat-slide-toggle>

    <div class="row mt-4">
        <div class="d-grid form-group">
            <button mat-fab extended class="mt-2" color="primary" [disabled]="formGroup.pristine">
                <mat-icon>edit</mat-icon>
                {{'GENERAL.UPDATE' | translate}}
            </button>
        </div>
    </div>
</form>