<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" [translate]="'SALE_CREDIT.TITLE'"></h3>
      <span class="label label-success font-weight-bold font-size-lg">({{getSaleCreditsCount()}})</span>
    </div>
    <div class="card-toolbar">
      <span class="text-danger font-weight-bold font-size-lg">
        {{getSaleCreditsTotal() | currency:'USD':'symbol':'1.2-2'}}
      </span>
    </div>
  </div>
  <div class="card-body p-2">
    @if ((dateSaleCredits$ | async).length === 0) {
      <div
        class="mb-10 alert alert-custom alert-light-primary alert-dismissible text-center">
        <div class="alert-text">{{'SALE_CREDIT.NO_SALE_CREDIT_FOUND' | translate}}</div>
      </div>
    }

    <mat-accordion multi>
      @for (dateSaleCredit of dateSaleCredits$ | async; track dateSaleCredit) {
        <mat-expansion-panel [expanded]="false" >
          <mat-expansion-panel-header class="p-2" class="mat-panel-header">
            <mat-panel-title>
              <span class="w-100">{{dateSaleCredit.date | date: onlyDateFormat : 'UTC'}} ({{dateSaleCredit.creditsCount}})</span>
              <div class="w-100 text-end">
                <span class="text-danger">{{dateSaleCredit.creditsTotal | currency:'USD':'symbol':'1.2-2'}}</span>
              </div>
            </mat-panel-title>
          </mat-expansion-panel-header>
          <app-sale-credit-list class="p-2" [saleCredits$]="getSaleCreditsObservable(dateSaleCredit.saleCredits)"></app-sale-credit-list>
        </mat-expansion-panel>
      }
    </mat-accordion>


  </div>
</div>