<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" [translate]="'SALES.HEADER'"></h3>
    </div>
    <div class="card-toolbar">
      <button class="btn btn-primary" (click)="openBarcodeScanner()">
        <i class="fas fa-qrcode"></i>
        {{ 'BARCODE_SCANNER.SCAN_PRODUCT' | translate }}
      </button>
    </div>
  </div>
  <div class="card-body p-2">
    <div class="scrollmenu no-scrollbar" style="margin-bottom: 12px">
      @for (category of categories$ | async; track category) {
        <button (click)="selectCategory(category)" type="button" color="primary" class="btn btn-primary cursor-pointer category-button">
          {{ category.name }}
        </button>
      }
    </div>

    <app-sale-category-products [category]="selectedCategory()" [orderType]="orderType"></app-sale-category-products>

    <div class="row">
      @if ((categories$ | async).length > 0 && !(selectedCategory$ | async)) {
        <div class="mb-10 alert alert-custom alert-light-primary alert-dismissible text-center">
          <div class="alert-text">
            {{ 'SALES.NO_SELECTED_CATEGORY_ALERT_MESSAGE' | translate }}
          </div>
        </div>
      }
    </div>
  </div>
</div>
