<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label" [translate]="'SYNCHRONIZATION.RECEIVE_TITLE'"></h3>
    </div>
  </div>
  <div class="card-body p-2">
    <form class="form" [formGroup]="formGroup" novalidate="novalidate" id="receive_form" (ngSubmit)="exportData()"
      class="mt-4">
      <!--begin::Attach Data Form Group-->
      <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
        <mat-label>{{'GENERAL.DATA'| translate}}</mat-label>
        <button mat-icon-button matSuffix type='button' (click)="file.click()">
          <mat-icon>attach_file</mat-icon>
        </button>
        <input matInput readonly required autocomplete="off" formControlName="dataPath" />
        <input type="file" #file placeholder="Seleccionar archivo" (change)="selectFile(file.files)"
          style="display:none;">
          @if (isControlInvalid('dataPath','required')) {
            <mat-error>
              {{'GENERAL.VALIDATION.REQUIRED'| translate : { name: 'GENERAL.DATA' | translate } }}
            </mat-error>
          }
        </mat-form-field>
        <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
          <mat-label>{{'GENERAL.PASSWORD'| translate}}</mat-label>
          <input matInput formControlName="password" required autocomplete="off" [type]="showPassword ? 'text' : 'password'">
          <button type="button" mat-icon-button matSuffix (click)="onShowPassword($event)">
            <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
          </button>
          @if (isControlInvalid('password','required')) {
            <mat-error>{{'GENERAL.VALIDATION.REQUIRED'|
            translate : {name: 'GENERAL.PASSWORD'| translate } }}</mat-error>
          }
        </mat-form-field>
        <div class="row mt-4">
          <div class="d-grid form-group">
            <button mat-fab extended color="primary" [disabled]="formGroup.pristine">
              <mat-icon>file_upload</mat-icon>
              {{'SYNCHRONIZATION.RECEIVE_IMPORT'| translate}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>