<li class="nav-item coded-menu-caption d-flex align-items-center justify-content-between" style="padding-right: 0px !important;">
  <label style="color: #383838;"><b>{{ item.title }}</b></label>
  <a class="bg-transparent" (click)="openHelpDialog()" style="padding-top: 0px !important; padding-bottom: 0px !important;">
    <i class="text-success d-flex f-20" antIcon theme="outline" type="question-circle"></i>
  </a>
</li>
@for (item of item.children; track item) {  
  @if (item.type === 'collapse') {
    <app-nav-collapse [item]="item"></app-nav-collapse>
  } @else if (item.type === 'item') {
    <app-nav-item [item]="item"></app-nav-item>
  }
}