<div class="row">
    <div class="card card-custom gutter-b">
        <div class="card-header">
            <div class="card-title">
                <h3 class="card-label">{{ 'OWNER.ADD_OWNER' | translate }}</h3>
            </div>
        </div>
        <div class="card-body">
            <form class="form" [formGroup]="formGroup" id="kt_login_signup_form" (ngSubmit)="onSubmit()" class="mt-4">
                @if (hasError) {
                <div class="alert alert-custom alert-light-danger alert-dismissible text-center">
                    <div class="alert-text">{{errorMessage}}</div>
                </div>
                }

                <!--begin::ReSeller Form Group-->
                <mat-form-field *ngIf="isSuperAdmin" appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'GENERAL.RESELLER'| translate}}</mat-label>
                    <mat-select name="Gestor" formControlName="resellerId">
                        <mat-option *ngFor="let reseller of reSellersDataSource | async" [value]="reseller.id">
                            {{reseller.fullName}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <!-- Full Name -->
                <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'USER.FULL_NAME'| translate}}</mat-label>
                    <input matInput formControlName="fullName" required autocomplete="off">
                    <mat-error *ngIf="isControlInvalid('fullName','required')">{{'GENERAL.VALIDATION.REQUIRED'|
                        translate :
                        {
                        name: 'USER.FULL_NAME'| translate } }}</mat-error>
                </mat-form-field>

                <!-- Login -->
                <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'GENERAL.LOGIN'| translate}}</mat-label>
                    <input matInput formControlName="login" required autocomplete="off">
                    <mat-error *ngIf="isControlInvalid('login','required')">
                        {{'GENERAL.VALIDATION.REQUIRED'| translate : { name: 'GENERAL.LOGIN'| translate } }}
                    </mat-error>
                </mat-form-field>

                <!-- Password -->
                <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'GENERAL.PASSWORD'| translate}}</mat-label>
                    <input matInput formControlName="password" required autocomplete="off"
                        [type]="showPassword ? 'text' : 'password'">
                    <button type="button" mat-icon-button matSuffix (click)="onShowPassword($event)">
                        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="isControlInvalid('password','required')">{{'GENERAL.VALIDATION.REQUIRED'|
                        translate :
                        {
                        name: 'GENERAL.PASSWORD'| translate } }}</mat-error>
                    <mat-error *ngIf="isControlInvalid('password','pattern')">{{'GENERAL.VALIDATION.PASSWORD_POLICY'|
                        translate}}</mat-error>
                </mat-form-field>

                <!--begin::Confirm Password Form Group-->
                <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'GENERAL.CONFIRM_PASSWORD'| translate}}</mat-label>
                    <input matInput formControlName="confirmPassword" required autocomplete="off"
                        [type]="showPassword ? 'text' : 'password'">
                    <button type="button" mat-icon-button matSuffix (click)="onShowPassword($event)">
                        <mat-icon>{{showPassword ? 'visibility' : 'visibility_off'}}</mat-icon>
                    </button>
                    <mat-error *ngIf="isControlInvalid('confirmPassword','required')">{{'GENERAL.VALIDATION.REQUIRED'|
                        translate : { name: 'GENERAL.CONFIRM_PASSWORD'| translate } }}</mat-error>
                    <mat-error
                        *ngIf="isControlInvalid('confirmPassword','passwordMatch')">{{'GENERAL.VALIDATION.INVALID_PASSWORD'|
                        translate : { name: 'GENERAL.CONFIRM_PASSWORD'| translate
                        } }}</mat-error>
                </mat-form-field>

                <!--begin::Cell Phone Form Group-->
                <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'GENERAL.CELL_PHONE'| translate}}</mat-label>
                    <input matInput formControlName="cellPhone" required autocomplete="off" prefix="+53 "
                        mask="0 000-0000" placeholder="+530 000-0000">
                    <!-- <span matTextPrefix>+53&nbsp;</span> -->
                    <mat-error *ngIf="isControlInvalid('cellPhone','required')">
                        {{'GENERAL.VALIDATION.REQUIRED'| translate : { name: 'GENERAL.CELL_PHONE'| translate } }}
                    </mat-error>
                </mat-form-field>

                <!--begin::Email Form Group-->
                <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'GENERAL.EMAIL'| translate}}</mat-label>
                    <input matInput formControlName="email" required autocomplete="off" [placeholder]="email">
                    <!-- <mat-error *ngIf="isControlInvalid('email','required')">
                        {{'GENERAL.VALIDATION.REQUIRED'| translate : { name: 'GENERAL.LOGIN'| translate } }}
                    </mat-error> -->
                    <mat-error *ngIf="isControlInvalid('email','email')">
                        {{'GENERAL.VALIDATION.INVALID'| translate : { name: 'GENERAL.EMAIL'| translate } }}
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" floatLabel="auto" class="mat-form-field">
                    <mat-label>{{'GENERAL.DESCRIPTION'| translate}}</mat-label>
                    <textarea matInput appTitleCase formControlName="description" autocomplete="off" matTextareaAutosize
                        matAutosizeMinRows="2" matAutosizeMaxRows="5"></textarea>
                </mat-form-field>

                <div class="row mt-4">
                    <div class="d-grid form-group">
                        <button mat-fab extended class="mt-2" color="primary" [disabled]="formGroup.pristine">
                            <mat-icon>add</mat-icon>
                            {{ 'GENERAL.INSERT' | translate}}
                        </button>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>